body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #1a73e8;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 10px;
}

iframe {
    width: 100%;
    height: 90vh;
    border-radius: 8px;
    background-color: white;
}
